<!DOCTYPE html>
<html>

	<head>
		<meta charset='utf-8'>
		<title>Home</title>
		<link href='style/home.css' rel='stylesheet' type='text/css'/>
	</head>

	<body>
		{{> navbar}}

		<div class='text'>
			<h1>Welcome {{username}}</h1>
		</div>

		<div id="innermain">
			<div class='text'>
				<h3><b>FlashCard Lists:</b></h3>
				<button class='button' id='addList'>Create a new list</button>
			

				<form id='radioForm' action="/flashCards" method="post" onsubmit="return valid();" >
				{{#each lists as |list|}}
					<input type="radio" name="radioList" id="{{list.name}}" value="{{list.name}}"><label for='{{list.name}}'>{{list.name}}</label><br>
				{{/each}}
					<input type='submit' class='button' id='sendButton' value='Open List'>
				</form>
				<button class='button' id='delList'>Delete List</button>
			</div>
		</div>

		<script src='js/home.js'></script>
	</body>
</html>